.sidebar {
  min-width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, #6d5bba, #8d58bf, #de67a3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebar-content {
  flex-grow: 1;
}

.sidebar h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  display: block;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.sidebar-profile {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.sidebar-profile a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-profile a img {
  margin-right: 10px;
}

.sidebar-profile a:hover {
  color: #c0c0c0;
}

.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, #6d5bba, #8d58bf, #de67a3);
  color: white;
}

.header-icons {
  display: flex;
  align-items: center;
}

.menu-icon {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -350px;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }

  .mobile-header {
    display: flex;
  }
}
