body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.error {
  color: red;
  margin-top: -10px;
}

/* Loader */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l4 2s infinite steps(6);
}
@keyframes l4 {
  100% {
    background-size: 120%;
  }
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}
