/* -------------------------------- 
Global Style
-------------------------------- */
/* reset */
/* *,
*::after,
*::before {
  box-sizing: border-box;
} 
* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
}

ol,
ul,
menu {
  list-style: none;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
svg {
  max-width: 100%;
} */

/* -------------------------------- 
Font Style
-------------------------------- */

/* Base font size for body */
body {
  font-size: 1rem; /* Default to 16px if 1rem = 16px */
}

/* Heading and other elements font sizes */
h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

p {
  font-size: 1rem; /* 16px */
}

a {
  font-size: 1rem; /* 16px */
}

/* Responsive font sizes */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.875rem; /* 14px */
  }

  h1 {
    font-size: 2rem; /* 32px */
  }

  h2 {
    font-size: 1.75rem; /* 28px */
  }

  h3 {
    font-size: 1.5rem; /* 24px */
  }

  h4 {
    font-size: 1.25rem; /* 20px */
  }

  p {
    font-size: 0.875rem; /* 14px */
  }

  a {
    font-size: 0.875rem; /* 14px */
  }
}

/* Medium devices (tablets, 600px to 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 1rem; /* 16px */
  }

  h1 {
    font-size: 2.25rem; /* 36px */
  }

  h2 {
    font-size: 2rem; /* 32px */
  }

  h3 {
    font-size: 1.75rem; /* 28px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
  }

  p {
    font-size: 1rem; /* 16px */
  }

  a {
    font-size: 1rem; /* 16px */
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}

.main-content {
  flex-grow: 1;
  /* padding: 20px; */
  background-color: #f5f5f5;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.error {
  color: red;
  margin-top: -10px;
}

/* -------------------------------- 
Button Style
-------------------------------- */
/* <!-- HTML !--> */
/* <button className="gradient-button" role="button">Button</button> */

/* CSS */
.gradient-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.gradient-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.gradient-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.gradient-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* <!-- HTML !-->
<button className="design-button" role="button">Button</button> */

/* CSS */
.design-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.design-button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.design-button:main,
.design-button:focus {
  user-select: auto;
}

.design-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.design-button:disabled {
  cursor: auto;
}

.design-button:active {
  border-width: 4px 0 0;
  background: none;
}

/* Markdown */
.wmde-markdown {
  color: black !important;
  background-color: #f5f5f5 !important;
}

.wmde-markdown code {
  color: white !important;
}
