.dream-companies-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
  text-align: center;
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dream-company-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
